FROM node:20-alpine

WORKDIR /app

# 1. Instalar dependencias
COPY package*.json ./
RUN npm install --omit=dev

# 2. Copiar TODO lo que se generó en el runner de GitHub
# Esto incluye la carpeta dist completa con sus 11 servicios
COPY . .

# 3. Verificación durante el build
RUN ls -la dist/apps

ENV NODE_OPTIONS="--no-warnings"

CMD ["node", "dist/apps/auth-service/main.js"]